@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

.flip-btn {
  perspective: 1000px;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.6s;
}

.flip-btn:hover {
  transform: rotateY(180deg);
}

.flip-btn .front,
.flip-btn .back {
  position: absolute;
  width: 100%;
  backface-visibility: hidden;
  display: inline-block;
  text-align: center;
}

.flip-btn .front {
  transform: rotateY(0deg);
}

.flip-btn .back {
  transform: rotateY(180deg);
  color: white;
  background-color: #3b82f6;
  border-radius: 0.375rem;
  padding: 0.5rem 1rem;
}
